<app-main-nav></app-main-nav>
<h1>Symptoms</h1>
<h2> {{symptomtypes[0].Description}}</h2>
<ng-container *ngFor="let symptom of symptoms">
	<ul>
		<li *ngIf="symptom.SymptomTypeID === 1">
			<p> {{symptom.Description}}</p>
		</li>
	</ul>
</ng-container>
<h2> {{symptomtypes[1].Description}}</h2>
<ng-container *ngFor="let symptom of symptoms">
	<ul>
		<li *ngIf="symptom.SymptomTypeID === 2">
			<p> {{symptom.Description}}</p>
		</li>
	</ul>
</ng-container>
<h2> {{symptomtypes[2].Description}}</h2>
<ng-container *ngFor="let symptom of symptoms">
	<ul>
		<li *ngIf="symptom.SymptomTypeID === 3">
			<p> {{symptom.Description}}</p>
		</li>
	</ul>
</ng-container>